h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

ul {
  list-style:none;
  text-align:center;
  font-size:16px;
  font-family:'Arial',sans-serif;
}

li{
  line-height:1.5em;
}

body {
    padding: 30px;
    text-align: center;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

button {
  cursor:pointer;
  background-color:#00D0CB;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  font-size:16px;
  padding:10px 10px;
  border-radius:4px;
  border:none;
}
